.labels {
    text-shadow: 0.5px 0.5px 0.5px #000;
    font-family: tahoma;
    font-size: small;
}

.divLogin {
    position: absolute;
    left: 50px; /* posiciona a 90px para a esquerda */
    top: 50px; /* posiciona a 70px para baixo */
    margin-top:240px;
    margin-left:290px;
}