<!doctype html>
<html>
	<head>
		<title></title>
		{% block head %}
			<style type="text/css">
				{% block style %}
					* { margin: 0; padding: 0; z-index: 1; }

					.labels {
						text-shadow: 0.5px 0.5px 0.5px #000;
						font-family: tahoma;
						font-size: small;
					}

					.divLogin {
						position: absolute;
						left: 50px; /* posiciona a 90px para a esquerda */
						top: 50px; /* posiciona a 70px para baixo */
						margin-top:240px;
						margin-left:290px;
					}
				
				{% endblock %}
			</style>
		{% endblock %}
	</head>

	<body>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<div id="footer">
			{% block footer %}
			{% endblock %}
		</div>
	</body>
</html>