{% extends "base.html" %}

{% block content %}
	<div id="error_msg">
		{% if error %}
			{{ error }}
		{% endif %}
	</div>

	<div id="model_view" class="divLogin">
		<form id="form_model_select" name="form_model_select" action={{ url_for("expose_model") }} method="post">
		    <label for="model_select" class="labels">Selecione o modelo:</label>
		    <select id="model_select" name="model_select">
		        {% for model in models %}
                    <option name="model_id" value={{ model.id }} id="model_id">{{ model.title }}</option>
				{% endfor %}
            </select>
			<input type="submit" value="Show model"/>
		</form>
		
		<form id="form_submit_model" name="form_submit_model" action={{ url_for("register_model") }} method="post" enctype=multipart/form-data>
            <label for="file" class="labels">Selecione o arquivo:</label>
            <input type="file" name="model_file" id="model_file" required/>
            
            <label for="model_title" class="labels">Model title:</label>
            <input type="model_title" name="model_title" id="model_title" required/>
            
            <label for="model_description" class="labels">Model description:</label>
            <input type="model_description" name="model_description" id="model_description" required/>
            
            <label for="model_dataset_type" class="labels">Model dataset type:</label>
            <input type="model_dataset_type" name="model_dataset_type" id="model_dataset_type" required/>
            
            <input type="submit" value="enviar"/>
        </form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}